<div class="col-md-12">
  <div class="movie">
    <span class="pull-right">
      <% if current_user&&current_user.is_member_of?(@movie)%>
      <label  class="label label-success">群组成员</label>
      <% else%>
      <label  class="label label-warning">不是群组成员</label>
      <% end %>
    </span>
    <%=link_to("Write a review",new_movie_review_path(@movie),class:"btn btn-default pull-right")%>
  </div>
  <% if current_user&&current_user==@movie.user%>
  <div class="movie">
    <%=link_to("Edit",edit_movie_path(@movie),class: "btn btn-primary pull-right")%>
  </div>
  <% end %>
  <h2><%=@movie.title%></h2>
  <p><%=@movie.description%></p>
  <table class="table">
    <thead>
      <tr>
        <th>
          评论内容
        </th>
        <th>
          发表者
        </th>
        <th>
          发表时间
        </th>
       <th>
         操作
       </th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review|%>
      <tr>
        <td>
          <%=link_to(review.content,movie_review_path(@movie,review))%>

        </td>
        <td>
          <%=review.user.email%>
        </td>
        <td>
          <%=review.created_at%>
        </td>
        <%if current_user&&current_user==@movie.user%>
        <td>
          <%=link_to("Delete",movie_review_path(@movie,review),method: :delete,class:"btn btn-primary btn-sm",data:{confrm:"Are you sure?"})%>
        </td>
        <%else%>
        <td>

        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%=will_paginate @reviews%>
  </div>
</div>
