<div class="col-md-12">
  <h2 class="text-center">我创建的电影讨论版</h2>
  <table class="table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          电影名
        </th>
        <th>
          电影简介
        </th>
        <th>
         留言数
        </th>
        <th>
          最近更新时间
        </th>
        <th colspan="2">

        </th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie|%>
      <tr>

        <td>
          #
        </td>
        <td>
          <%=link_to(movie.title,movie_path(movie))%>

        </td>
        <td>
          <%=render_movie_description(movie)%>
        </td>
        <td>
          <%=movie.reviews_quantity%>
        </td>
        <td>
          <%=movie.updated_at%>
        </td>
        <td>
          <%=link_to("Edit",edit_movie_path(movie),class:"btn btn-default btn-xs")%>
        </td>
        <td>
          <%=link_to("Delete",movie_path(movie),method: :delete, data:{confirm: "Are you sure?"},class:"btn btn-default btn-xs")%>
        </td>
      </tr>
      <% end%>
    </tbody>


  </table>
</div>
